<ion-view title="Add a Course" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="addACourse-form3" class="list">
      <ion-list id="addACourse-list7">
        <label class="item item-select" id="addACourse-select3">
          <span class="input-label">Department Name:</span>
          <select>
            <option>ARTS</option>
            <option>BIO</option>
            <option>COMP SCI</option>
            <option>I&amp;C SCI</option>
            <option>STATS</option>
          </select>
        </label>
        <label class="item item-select" id="addACourse-select4">
          <span class="input-label">Comfort Level:</span>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </label>
        <label class="item item-input" id="addACourse-input10">
          <span class="input-label">Course Name:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addACourse-input12">
          <span class="input-label">Course Instructor:</span>
          <input type="text" placeholder="">
        </label>
        <ion-radio id="addACourse-radio3">Radio</ion-radio>
      </ion-list>
      <button id="addACourse-button10" class="button button-balanced  button-block">Add Course</button>
    </form>
  </ion-content>
</ion-view>