<style>
  .red-border {
    border: 1px solid red;
  }
</style><ion-view title="Add Course" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="addCourse-form3" class="list">
      <ion-list id="addCourse-list7">
        <label class="item item-select" id="addCourse-select3">
          <span class="input-label">Course Dept:</span>
          <select id="course">
            <option>ARTS</option>
            <option>BIO</option>
            <option>COMP SCI</option>
            <option>I&amp;C SCI</option>
            <option>STATS</option>
          </select>
        </label>
        <label class="item item-select" id="addCourse-select19">
          <span class="input-label">Course Number:</span>
          <select id="coursenum">
            <option>32</option>
            <option>57</option>
            <option>99</option>
            <option>166</option>
            <option>199</option>
          </select>
        </label>
        <label class="item item-select" id="addCourse-select4">
          <span class="input-label">Comfort Level:</span>
          <ion-radio ng-repeat="item in tierList"
                     ng-value="item.id"
                     ng-model="data.tier">
          {{ item.text }}
          </ion-radio>
        </label>
        <label class="item item-select" id="addCourse-select29">
          <span class="input-label">Do you want to mentor lower tier students?:</span>
          <select id="mentor">
            <option>Yes</option>
            <option>No</option>
          </select>
        </label>
        <label class="item item-input" id="addCourse-input10" style="padding-right:10px;">
          <span class="input-label">Desired weekly study time:</span>
          <input type="text" id="time" placeholder="">
          hours
        </label>
        <label class="item item-input" id="addCourse-input12" style="padding-right:10px;">
          <span class="input-label">Desired group size:</span>
          <input type="text" id="group" placeholder="">
          students
        </label>
      </ion-list>
      <button ng-click="addCourse()" id="addCourse-button10" class="button button-balanced  button-block">Add Course</button>
    </form>
  </ion-content>
</ion-view>
