<ion-view title="Dashboard" id="page7">
  <ion-nav-buttons side="right" class="has-header">
      <a ui-sref="login"><button class="button button-stable icon No Icon">Log out</button></a>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list id="dashboard-list4">
      <ion-item class="item-icon-left" id="dashboard-list-item15">
        <i class="icon ion-android-alert"></i>New notification from group</ion-item>
      <ion-item class="item-icon-left" id="dashboard-list-item16">
        <i class="icon ion-plus"></i>You were added to a new group</ion-item>
    </ion-list>
  </ion-content>
</ion-view>