<ion-view title="Edit Profile" hide-back-button="true" id="page12">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="editProfile-card23">
      <ion-item class="item-icon-left item-avatar item-icon-right" id="editProfile-list-item23">
        <i class="icon ion-android-person" style="padding-left: 10px;"></i>
        <h2>{{fullname}}</h2>
        <p>{{gender}}, {{year}}, {{major}}</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <div class="item item-body" id="editProfile-list-item-container5">
        <div id="editProfile-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Courses</strong>
          </p>
        </div>
        <ion-list id="editProfile-list6">
          <ion-item ng-repeat="course in courses">
            {{course.name}}
            <span class="item-note">{{course.tier}}</span>
          </ion-item>
          <!--ion-item class="item-icon-right" id="editProfile-list-item24">ICS 161
            <span class="item-note">Tier 3</span>
            <i class="icon ion-android-remove-circle"></i>
          </ion-item>
          <ion-item class="item-icon-right" id="editProfile-list-item25">BIO 97
            <span class="item-note">Tier 1</span>
            <i class="icon ion-android-remove-circle"></i>
          </ion-item>
          <ion-item class="item-icon-right" id="editProfile-list-item26">Something else
            <span class="item-note">Tier 2</span>
            <i class="icon ion-android-remove-circle"></i>
          </ion-item-->
          <ion-item class="item-icon-right positive" id="editProfile-list-item27" ui-sref="tabsController.addCourse">Add Course
            <i class="icon ion-android-add-circle"></i>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <a ui-sref="tabsController.profile" id="editProfile-button9" class="button button-balanced  button-block">Save Changes</a>
  </ion-content>
</ion-view>
