<ion-view title="Groups" hide-back-button="true" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <a ui-sref="login"><button class="button button-stable icon No Icon">Log out</button></a>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list id="groups-list3">
      <ion-item ng-repeat="group in groups" ui-sref="tabsController.groupChat({ groupId: $rootScope.indexOf(group) })">
          {{group.name}}
        <span class="item-note">{{group.tier}}</span>
      </ion-item>
      <!--ion-item id="groups-list-item12" ui-sref="tabsController.groupChat">CS 152 - LVL2</ion-item>
      <ion-item id="groups-list-item13" ui-sref="tabsController.groupChat">Bio 99 - LVL3</ion-item>
      <ion-item id="groups-list-item14" ui-sref="tabsController.groupChat">Soc 1 - LVL1</ion-item-->
    </ion-list>
  </ion-content>
</ion-view>
