<ion-view title="Profile" hide-back-button="true" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <a ui-sref="login"><button class="button button-stable icon No Icon">Log out</button></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="profile-card22">
      <ion-item class="item-avatar" id="profile-list-item7">
        <h2>{{fullname}}</h2>
        <p>{{gender}}, {{year}}, {{major}}</p>
      </ion-item>
      <div class="item item-body" id="profile-list-item-container4">
        <div id="profile-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Courses</strong>
          </p>
        </div>
        <ion-list id="profile-list5">
          <ion-item id="profile-list-item20">ICS 161
            <span class="item-note">Tier 3</span>
          </ion-item>
          <ion-item id="profile-list-item21">BIO 97
            <span class="item-note">Tier 1</span>
          </ion-item>
          <ion-item id="profile-list-item22">Something else
            <span class="item-note">Tier 2</span>
          </ion-item>
        </ion-list>
        <a ui-sref="tabsController.courseListing" id="courseListingButton" class="button button-stable  button-block">Course Listings</a>
      </div>
    </div>
    <a ui-sref="tabsController.editProfile" id="profile-button6" class="button button-balanced  button-block">Edit Profile</a>
  </ion-content>
</ion-view>
