<style>
  #success-list-item3{
    padding-top: 25px;
  }
</style>
<ion-view title="Success!" hide-back-button="true" id="page10">
  <ion-content padding="true" class="has-header">
    <center><h1 id="success-heading1" style="color:#000000;">Congratulations!</h1>
    <div id="success-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You've signed up with Learnr!</p>
    </div></center>
    <div class="list card" id="success-card21">
      <ion-item class="item-icon-left item-avatar item-icon-right" id="success-list-item3">
        <i class="icon ion-android-person"></i>
        <h2>{{fullname}}</h2>
        <i class="icon ion-android-checkmark-circle"></i>
      </ion-item>
    </div>
    <a ui-sref="login" id="success-button4" class="button button-stable  button-block">Back to Login</a>
  </ion-content>
</ion-view>
